<h1 align="center">Welcome to the Heroku App for CS490 Presentation.</h1>
  <h3 align="center">Sorry for the easy Design, I just want to demonstrate</h3>
  <div class="container">
    <%= link_to 'View Posts', posts_path %>
  </div>

<div class= "center jumbotron">

</div>
